/* games/flappy-bird/style.css */

body {
  background: #70c5ce;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  color: white;
}

h1 {
  margin-top: 20px;
}

canvas {
  width: 90vw;
  height: auto;
  max-width: 400px;
  border: 2px solid black;
  background: white;
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.3rem;
  }

  button {
    padding: 8px 12px;
    font-size: 0.9rem;
  }
}


.controls {
  margin-bottom: 30px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  font-size: 1rem;
  background: #ff4757;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
